* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
}

.wrapper {
    margin: 30px auto;
    width: 1728px;
    height: -moz-fit-content;
    height: fit-content
}

.wrapper .bc {
    width: 1240px;
    height: 697px;
    margin: 0 auto;
    /* background-image: url(../public/bc1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat */
}

.shit  {
   text-decoration: none;
}

.chek_img {
    width: 1240px;
    height: 697px;
    margin: 0 auto;
}

.wrapper .bottom {
    display: flex;
    gap: 70px;
    width: 1147px;
    height: 77px;
    margin: 0 auto
}

.wrapper .bottom .arrow {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.wrapper .bottom .arrow .info {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070
}

.wrapper .bottom .arrow .arrow-left-spec {
    width: 100px
}

.wrapper .bottom .arrow .main-info {
    width: 176px;
    height: 59px;
    font-weight: 700;
    font-size: 42px;
    line-height: 59px;
    color: #000
}

.wrapper .bottom .arr-spec {
    margin-left: 40px
}

.arrow-right div p {
    margin-bottom: 8px
}

.blocks {
    width: 537px;
    height: 115px;
    display: flex;
    gap: 80px;
    margin: 0 auto 55px;
    text-align: center;

}

.blocks .left_block p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #707070 ;

}

.blocks .left_block h2 {
    font-size: 55px
}

.blocks .right_block p {
    font-size: 20px
}

.blocks .right_block h2 {
    font-size: 55px
}

.text {
    font-size: 14px;
    color: grey
}

.toggle {
    width: 39px;
    height: 24px;
    background-color: #000;
    border-radius: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    /* cursor: wait; */
    cursor: pointer;
}
.dot {
    border-radius: 50px;
    width: 19px;
    height: 20px;
    transition: 0.5s ease;
    background-color: #fff
}

.dot1 {
    border-radius: 50px;
    width: 19px;
    height: 20px;
    transition: 0.5s ease;
    background-color: #fff
}
.active {
    width: 39px;
    height: 24px;
    background-color: #00f;
    border-radius: 30px
}
.toggle .active {
    width: 39px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px
}
.work{
    width: 19px;
    height: 20px;
    border-radius: 50%;
    background-color: #00f;
    transform: translate(15px);
}

.toggle .work {
    background-color: #00f;
}

#ui_range{
    white-space: nowrap;
    width: 200px;
    font-size: 55px;
}

.to-page {
  position: relative;
  top: -950px;
  right: 68px;
}

.to-page a {
    text-decoration: none;
    color: rgb(34, 0, 255);
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.to-page a:hover {
    border-bottom: 2px solid rgb(255, 187, 0);
    transition: 0.9s;
    font-size: 25px;
    color:rgb(255, 187, 0);
}

.logo img {
    position: relative;
    left: 70px;
    top: 60px;
    width: 100px;
}