* {
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
}

.container {
    width: 1240px;
    height: 970px;
    margin: 0 auto
}

.top-wrap {
    width: 1240px;
    height: 697px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wid {
    width: 1240px;
    height: 697px;
    margin: 0 auto;
}

.black {
    width: 1240px;
    height: 697px;
    margin: 0 auto;
}

.end {
    width: 1240px;
    height: 697px;
    margin: 0 auto;
}

.left-text-block {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-left-right {
    display: flex;
    gap: 160px;
    position: relative;
    left: 165px;
}

.down {
    position: relative;
    top: 4px;
    right: 5px;
}

.text-left-right p {
    font-size: 25px;
    color: #707070;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.count-left-right {
    display: flex;
    gap: 160px;
    position: relative;
    top: 17px;
    right: 180px;
}
.count-left-right h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 79px;
    color: #000000;
}
.cirecli-left {
    display: flex;
    justify-content: center;
    position: relative;
    right: 60px;
    top: 45px;
}

.cirecli-wrap {
    display: flex;
    justify-content: center;
    gap: 13px;
    position: relative;
    top: 30px;
    right: 90px;
    cursor: pointer;
    z-index: 1;
}
.block-1 {
    width: 27px;
    height: 27px;
    background-color: #000000;
    border-radius: 100px;
}

.off-wihete {
    width: 27px;
    height: 27px;
    background-color: #f1eded;
    border-radius: 100px;
}

.off-wihete:hover {
   border: 3px solid rgb(32, 82, 247);
   transition: 0.3s;
}

.block-1:hover {
    border: 3px solid rgb(32, 82, 247);
    transition: 0.3s;
 }

 .mol:hover {
    border: 3px solid rgb(32, 82, 247);
    transition: 0.3s;
 }
 
 

.mol {
    width: 27px;
    height: 27px;
    background-color: #c4a5a5;
    border-radius: 100px;
}
.title-cirecli p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #707070;
}

.chek-flex {
    display: flex;
    justify-content: center;
    position: relative;
    left: 77px;
    top: 16px;
}

.chek-text {
    display: flex;
    justify-content: center;
    position: relative;
    left: 112px;
    top: 24px;
    color: #969696;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}

.chek-block {
    width: 39px;
    height: 20px;
    background-color: #acacac;
   
    border-radius: 40px
}

.cirecli-chek {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100px;
}

.cound-1 {
    width: 150px;
    position: relative;
    top: 25px;
}