* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
      overflow-x: hidden;
}


.logo_2 img{
      width: 160px;
      margin-top: 40px;
      position: relative;
      left: 59px;
}

.wraper-img {
      display: flex;
      justify-content: center;
}

.wrap-img {
    width: 1700px;
    position: relative;
    right: 270px;
    object-fit: cover;
}

.tesla-1 {
      width: 1700px;
    position: relative;
    right: 270px;
    object-fit: cover;
}

.tesla-2 {
      width: 1700px;
      position: relative;
      right: 270px;
      object-fit: cover;
}

.tesla-3 {
      width: 1700px;
      position: relative;
      right: 270px;
      object-fit: cover;
}

.tesla-4 {
      width: 1700px;
      position: relative;
      right: 270px;
      object-fit: cover;
}


.down-bar {
      display: flex;
      justify-content: end;
      position: relative;
      top: -1090px;
}

.left-bar {
      position: fixed;
      width: 20%;
      height: 120vh;
      background-color: #F9F9F9;
}

.contanent {
      display: flex;
      align-items: center;
      flex-direction: column;
}

 .up_block {
      width: 290px;
      height: 70px;
      background-color: rgb(223, 223, 223);
      position: relative;
      top: 120px;
      border-radius: 10px;
} 


.logo-block {
      width: 22px;
      height: 22px;
      background-color: blue;
      position: relative;
      top: 14px;
      border-radius: 30px;
      left: 10px;
}

.line-logo {
      width: 3px;
      height: 12px;
      border-radius: 20px;
      position: relative;
      left: 9px;
      top: 5px;
      background-color: #fff;
}

.text-up {
      display: flex;
      justify-content: center;
      position: relative;
      top: -10px;
      left: 10px;
}

.text-up span {
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.model-text {
      position: relative;
      top: 170px;
}

.model-text h1 {
      margin-bottom: 20px;
}

.model-text span {
      color: rgb(100, 100, 100);
}

.text-motor span{
      position: relative;
      top: 240px;
      color: rgb(100, 100, 100);
}

.block-cars-model {
      position: relative;
      top: 280px;
      display: flex;
      flex-direction: column;
      gap: 25px;
}

.block-1 {
      width: 250px;
      height: 40px;
      border-radius: 25px;
      background-color: rgb(255, 255, 255);
      border: 3px solid blue;
      cursor: wait;
}

.text-shit {
      display: flex;
      gap: 23px;
}

.block-1 p {
      position: relative;
      top: 6px;
      left: 10px;
}

.block-1 span {
      position: relative;
      top: 8px;
      left: 4px;
}

.color-wrap-text {
      position: relative;
      top: 370px;
      text-align: center;
      right: 10px;
}

.ciricle-color {
      display: flex;
      justify-content: center;
      gap: 19px;
      position: relative;
      top: 400px;
      cursor: pointer;
}

.ciricle-white img{
      object-fit: cover;
      width: 50px;
}

.link-next-page {
      position: relative;
      top: 530px;
      text-align: center;
}

.link-next-page a {
      text-decoration: none;
      font-size: larger;
      color: blue;
}

.link-next-page a:hover {
      border-bottom: 2px solid blue;
      transition: 0.5s ease-in;
      font-size: 20px;
}