

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-size: 62.5%;
}


body {
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}


a:active,
a:link,
a:visited {
	text-decoration: none;
}



main {
	display: block;
}


h1 {
	font-size: 2em;
	margin: 0.67em 0;
}



hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}


pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}


a {
	background-color: transparent;
}



abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}


b,
strong {
	font-weight: bolder;
}


code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}


small {
	font-size: 80%;
}



sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}



img {
	border-style: none;
}



button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}


button,
input {
	/* 1 */
	overflow: visible;
}



button,
select {
	/* 1 */
	text-transform: none;
}



button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}



button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}



button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}



fieldset {
	padding: 0.35em 0.75em 0.625em;
}



legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}



progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}



[type='checkbox'],
[type='radio'] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}



[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}



[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}



[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}



::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}



details {
	display: block;
}



summary {
	display: list-item;
}


template {
	display: none;
}



[hidden] {
	display: none;
}

ul {
	list-style: none;
};

:root {
	--primary-color: #181b21;
	--secondary-color: #5c5d61;
}



#fullpage.no-scroll {
	overflow-y: hidden;
	max-height: 100vh;
}

.section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section.one {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/1.avif);
}

.section.two {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/2.avif);
}

.section.three {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/3.avif);
}

.section.four {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/4.avif);
}

.section.five {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/5.avif);
}

.section.six {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/6.avif);
}

.section.seven {
	background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/7.avif);
}

.section__content {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	color: var(--primary-color);
}

.section__content__title {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.section__content__subtitle {
	font-size: 1.5rem;
	font-weight: 500;
}

.section__content__subtitle a {
	color: inherit;
}

.section__content__subtitle a:hover {
	text-decoration: underline;
}

.section__action__container {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section__action__btn {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem;
	border-radius: 2rem;
	flex-basis: 80%;
	margin-bottom: 1rem;
	text-transform: capitalize;
}

.action__btn__primary {
	background: rgba(23, 26, 42, 0.8);
	color: white;
}

.action__btn__secondary {
	background: rgba(255, 255, 255, 0.65);
	color: var(--primary-color);
}


.header {
	height: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	justify-content: space-between;
}

.header__middle {
	display: flex;
	align-items: center;
}

.header__left {
	display: block;
	overflow: hidden;
	padding: 0 2rem;
}

.header__logo {
	height: 100%;
	width: 13rem;
}

.header__right {
	margin: auto 0;
	margin-right: 1rem;
}

.header__nav__btn {
	display: none;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 1rem;
	color: var(--secondary-color);
	border-radius: 1.5rem;
	text-transform: capitalize;
	transition: background 0.3s linear;
}

.header__nav__btn:hover {
	background: #0000001c;
}

.header__nav__btn.menu__btn {
	display: inline-block;
}

.header__middle .header__nav__btn {
	margin-right: 2rem;
}




.navigation {
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	max-width: 35rem;
	height: 100%;
	z-index: 10;
	background: #fff;
	transform: translateX(100%);
	transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
}

.navigation.is--active {
	transform: translateX(0);
}

.navigation ul {
	width: 80%;
	margin: 0 auto;
}

.navigation ul li {
	width: 100%;
	padding: 1.2rem 0;
	padding-left: 2rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	border-radius: 1.2rem;
	transition: background-color 0.33s ease;
}

.nav__link {
	color: #393c41;
	font-weight: 600;
	font-size: 1.5rem;
	text-transform: capitalize;
}

.navigation ul li:hover {
	background: #0000000d;
}

.close__btn__container {
	text-align: right;
	margin: 2rem 3rem;
}

.navigation__close__btn {
	width: 3rem;
	cursor: pointer;
}

.blur__overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1rem);
	transition: display 0.4s ease;
}

.blur__overlay.is--active {
	display: block;
}

/*footer.css */


.footer {
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 100%;
}

.footer ul {
	width: 80%;
	margin: 2rem auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.footer ul li {
	margin: 0 1rem;
	margin-top: 1rem;
	text-transform: capitalize;
	font-weight: 600;
}

.footer ul li a {
	color: var(--secondary-color);
	font-size: 1.2rem;
}




@media screen and (min-width: 600px) {
	.section__action__btn {
		max-width: 30rem;
		padding: 1.5rem;
		flex-basis: 40%;
	}

	.section__action__container {
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 900px) {
	.section__action__container {
		width: 70%;
	}

	.footer ul {
		width: 70%;
	}
}

@media screen and (min-width: 1200px) {
	.header__nav__btn {
		display: inline-block;
	}

	.header__left {
		padding: 0 2rem;
		margin: 0 3rem;
	}

	.header__right {
		margin: auto 2rem;
	}

	.link__in__middle {
		display: none;
	}

	.section__action__container {
		width: 60%;
	}

	.footer ul {
		width: 50%;
	}
}

@media screen and (min-width: 1600px) {
	.footer ul {
		width: 40%;
	}

	.section__action__container {
		width: 50%;
	}
}




