<!-- EXTERIOR -->
<link rel="stylesheet" href="./css/exterior.css">

<body class="exterior">

    <a class="logo" href="./newPage.html">
        <img class="header__logo" src="https://thatanjan.github.io/tesla-clone-yt/media/tesla_logo.svg"
              alt="" />
  </a>
    <div class="wrapper">
        <div class="bc">
            <img src="./public/bc1.jpg" class="need-3">
        </div>
        <div class="blocks">
            <div class="left_block">
                <p>Запас хода</p>
                <h2><span id="ui_range" data-car="750">750</span> км</h2>
            </div>
            <div class="right_block">
                <p>Цена</p>
                <h2>$<span id="ui_price">89990 </span></h2>
            </div>
        </div>

        <div class="bottom">
            <div class="arrow">
                <div class="arrow-left">
                    <p class="info">Скорость автомобиля</p>
                    <p class="main-info"> <span id="needfor" data-car="60">60</span> км/ч</p>
                </div>
                <div class="arrow-right">
                    <div>
                        <p><img id="speed_up" src="./public/image 3.png" alt=""></p>
                        <p><img id="speed_down" src="./public/image 4.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <div class="arrow-left">
                    <p class="info">Температура за окнами</p>
                    <p class="main-info"><span id="grad">20</span>°</p>
                </div>
                <div class="arrow-right">
                    <div>
                        <p><img id="temp_up" src="./public/image 3.png" alt=""></p>
                        <p><img id="temp_down" src="./public/image 4.png" alt=""></p>
                    </div>
                </div>
            </div>

            <div class="arrow  ">
                <div class="arrow-left arrow-left-spec">
                    <p class="info">Диски</p>
                    <p class="main-info"> <span id="disk">19</span></p>
                </div>
                <div class="arrow-right">
                    <div arr-spec>
                        <p><img id="wheels-up" src="./public/image 3.png" alt=""></p>
                        <p><img id="wheels-down" src="./public/image 4.png" alt=""></p>
                    </div>
                </div>
            </div>


            <div class="toggle__left">
                <div class="text">Кондиционер</div>
                <div class="toggle ">
                    <div class="dot"></div>
                </div>
            </div>
            <div class="toggle__center">
                <div class="text">Версия Long Range</div>

                <div id="togle_img">
                    <div class="toggle ">
                        <div class="dot1"></div>
                    </div>
                </div>
                
            </div>
            <div class="toggle__right">
                <a href="./interior.html" class="shit">
                    <div class="text">Вид автомобиля</div>
                </a>
                <div class="toggle active">
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <!-- <div class="to-page">
            <a href="./tesla.html">Page 1</a>
        </div> -->
       
        <div class="cirecli-wrap">
            <div id="toggle_black">
                <div class="block-1">

                </div>
            </div>

            <div id="toggle_off">
                <div id="t"></div>
                <div class="off-wihete">

                </div>
            </div>

            <div id="toggle_mol">
                <div class="mol">

                </div>
            </div>
        </div>
    </div>


    
</body>

<script src="./JS/SCRIPT.JS"></script>
<script src="./JS/app.js"></script>