<!-- INTERIOR -->
<link rel="stylesheet" href="./css/interior.css">

<body class="interior">
    <div class="container">
        <div class="top-wrap">
            <img src="./public/tes.png" class="need">
        </div>

        <div class="left-text-block">
            <div class="text-left-right">
                <p>Запас хода</p>
                <p class="down">Цена</p>
            </div>
            <div class="count-left-right">
                <h1>750км</h1>
                <h1>$89, 990</h1>
            </div>
        </div>
        <div class="cirecli-left">
            <div class="title-cirecli">
                <p>Цвет салона</p>
            </div>
            <div class="cirecli-wrap">
                <div id="toggle_black">
                    <div class="block-1">

                    </div>
                </div>

                <div id="toggle_off">
                    <div class="off-wihete">

                    </div>
                </div>

                <div id="toggle_mol">
                    <div class="mol">

                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-wrap">
            <div class="chek-text">
                <a href="./index.html" class="page-link">
                    <p class="title-chek">
                        Вид автомобиля
                    </p>
                </a>
            </div>
            <div class="chek-flex">
                <div class="chek-block">
                    <div class="cirecli-chek">

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    </div>
    </div>
    
</body>

<script src="./JS/SCRIPT.JS"></script>
<script src="./JS/app.js"></script>