<!--Tesla Page-->

<head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Tesla</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
            integrity="sha512-4rPgyv5iG0PZw8E+oRdfN/Gq+yilzt9rQ8Yci2jJ15rAyBmF0HBE4wFjBkoB72cxBeg63uobaj1UcNt/scV93w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="./css/teslaP.css" />
</head>

<body>
      <div class="blur__overlay"></div>

      <header class="header">
            <a class="header__left" href="#">
                  <img class="header__logo" src="https://thatanjan.github.io/tesla-clone-yt/media/tesla_logo.svg"
                        alt="" />
            </a>

            <ul class="header__middle">
                  <li>
                  <li><a class="header__nav__btn" href="#">Model S</a></li>
                  <li><a class="header__nav__btn" href="#">Model 3</a></li>
                  <li><a class="header__nav__btn" href="#">Model X</a></li>
                  <li><a class="header__nav__btn" href="#">Model Y</a></li>
                  <li><a class="header__nav__btn" href="#">solar roof</a></li>
                  <li><a class="header__nav__btn" href="#">solar panels</a></li>
                  </li>
            </ul>

            <div class="header__right">
                  <a class="header__nav__btn" href="#">shop</a>
                  <a class="header__nav__btn" href="#">account</a>
                  <a class="header__nav__btn menu__btn" href="#">menu</a>
            </div>
      </header>

      <nav class="navigation">
            <div class="close__btn__container">
                  <img class="navigation__close__btn"
                        src="https://thatanjan.github.io/tesla-clone-yt/media/close_icon.svg" alt="" />
            </div>

            <ul>
                  <li class="link__in__middle"><a class="nav__link" href="#">Model S</a></li>
                  <li class="link__in__middle"><a class="nav__link" href="#">Model 3</a></li>
                  <li class="link__in__middle"><a class="nav__link" href="#">Model X</a></li>
                  <li class="link__in__middle"><a class="nav__link" href="#">Model Y</a></li>
                  <li class="link__in__middle">
                        <a class="nav__link" href="#">Solar roofs</a>
                  </li>
                  <li class="link__in__middle">
                        <a class="nav__link" href="#">Solar panels</a>
                  </li>
                  <li><a class="nav__link" href="#">Existing Inventory </a></li>
                  <li><a class="nav__link" href="#">Used Inventory </a></li>
                  <li><a class="nav__link" href="#">Trade-In </a></li>
                  <li><a class="nav__link" href="#">Test drive </a></li>
                  <li><a class="nav__link" href="#">Powerwall </a></li>
                  <li><a class="nav__link" href="#">Commercial Energy </a></li>
                  <li><a class="nav__link" href="#">utilities </a></li>
                  <li><a class="nav__link" href="#">Charging</a></li>
                  <li><a class="nav__link" href="#">Find us</a></li>
                  <li><a class="nav__link" href="#">Support</a></li>
                  <li><a class="nav__link" href="#">Investor Relations</a></li>
            </ul>
      </nav>

      <section id="fullpage">
            <section class="section one">
                  <div class="section__content">
                        <h1 class="section__content__title">Model S</h1>
                        <h2 class="section__content__subtitle">
                              order online for <a href="#">Touchless delivery</a>
                        </h2>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="./newPage.html" >Custom Order</a>
                        <a class="section__action__btn action__btn__secondary" href="#">Existing inventory</a>
                  </div>
            </section>

            <section class="section two">
                  <div class="section__content">
                        <h1 class="section__content__title">Model y</h1>
                        <h2 class="section__content__subtitle">
                              order online for <a href="#">Touchless delivery</a>
                        </h2>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="#">Custom Order</a>
                        <a class="section__action__btn action__btn__secondary" href="#">Existing inventory</a>
                  </div>
            </section>

            <!-- <section class="section three">
                  <div class="section__content">
                        <h1 class="section__content__title">Model 3</h1>
                        <h2 class="section__content__subtitle">
                              order online for <a href="#">Touchless delivery</a>
                        </h2>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="#">Custom Order</a>
                        <a class="section__action__btn action__btn__secondary" href="#">Existing inventory</a>
                  </div>
            </section> -->

            <!-- <section class="section four">
                  <div class="section__content">
                        <h1 class="section__content__title">Model x</h1>
                        <h2 class="section__content__subtitle">
                              order online for <a href="#">Touchless delivery</a>
                        </h2>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="#">Custom Order</a>
                        <a class="section__action__btn action__btn__secondary" href="#">Existing inventory</a>
                  </div>
            </section> -->

            <!-- <section class="section five">
                  <div class="section__content">
                        <h1 class="section__content__title">solar panels</h1>
                        <h2 class="section__content__subtitle">
                              Lowest Cost Solar Panels In America
                        </h2>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="#">Order now</a>
                        <a class="section__action__btn action__btn__secondary" href="#">Learn more</a>
                  </div>
            </section> -->

            <!-- <section class="section six">
                  <div class="section__content">
                        <h1 class="section__content__title">Solar roofs</h1>
                        <h2 class="section__content__subtitle">
                              Produce Clean Energy From Your Roof
                        </h2>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="#">Order now</a>
                        <a class="section__action__btn action__btn__secondary" href="#">Learn more</a>
                  </div>
            </section>

            <section class="section seven">
                  <div class="section__content">
                        <h1 class="section__content__title">Accessories</h1>
                  </div>

                  <div class="section__action__container">
                        <a class="section__action__btn action__btn__primary" href="#">Shop now</a>
                  </div> -->

                  <!-- <footer class="footer">
				<ul>
					<li><a href="#">Tesla © 2021</a></li>
					<li><a href="#"> Privacy &amp; Legal </a></li>
					<li><a href="#"> contact </a></li>
					<li><a href="#">careers</a></li>
					<li><a href="#">news</a></li>
					<li><a href="#">engage</a></li>
					<li><a href="#">locations</a></li>
				</ul>
			</footer>
		</section>
	</section> -->

                  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
                        integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

                  <script src="./JS/SCRIPT.JS"></script>
                  <script src="./JS/app.js"></script>
</body>